body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    transition: 1s;
    font-family: Arial, sans-serif;
}

#btn {
    padding: 20px 40px;
    font-size: 24px;
    border: none;
    border-radius: 12px;
    background: #ff0055;
    color: white;
    cursor: pointer;
}

#texto {
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
