<!DOCTYPE html>
<html>
<head>
    <title>ASDASD51</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div id="pantalla">
    <button id="btn">Presióname</button>
    <h1 id="texto" style="display:none;">Ashanty consigue trabajo</h1>

    <canvas id="confetti"></canvas>

    <h1>Datos en tiempo real</h1>
    <h2 id="temp">Temperatura: -- °C</h2>
    <h2 id="hum">Humedad: -- %</h2>
</div>

<audio id="musica" src="{{ url_for('static', filename='audio/cutbangarang.mp3') }}"></audio>

<!-- Tu script principal -->
<script src="{{ url_for('static', filename='script.js') }}"></script>

<!-- Script tiempo real -->
<script>
setInterval(() => {
  fetch("/ver")
    .then(r => r.json())
    .then(d => {
      document.getElementById("temp").textContent =
        "Temperatura: " + d.temp + " °C";
      document.getElementById("hum").textContent =
        "Humedad: " + d.hum + " %";
    });
}, 2000);
</script>

</body>
</html>
